#jivo-chat,
#jivo_chat_widget,
#jivo-iframe-container,
#jivo-chat-container,

#onlineSupportContainer, #supportTrigger, .support-trigger,
#supportNewMessage, #onlineSupportClonePageIframe, 

a[id^=mightyCallC2C],

.cmv-btn, .cmv-btn__btnBody,

.lt-chat,
.lt-frame,
.lt-invite,
.lt-label,
.lt-online,
.lt-xbutton,

#chatra, #chatra__iframe, .chatra--visible,

.onicon_chat, .onicon_chat-window,
.onicon_chat-hint-wrap, .onicon_chat-hint-label,

.webim_button,
.webim_invitediv,

.stream-wood-chat,
.stream-wood-invitation,

#rh-snippet,

#mibew_tracking,

#leadia_science_widget, #leadia_widget, .leadia-widget,

#intercom-container, .intercom-container,

.callbackkiller,

#pozvonim-button, .pozvonim-button-wrapper, #pozvonim-wrapper,

#callservice-widget-window, #callservice-widget-container,

#cbh_widget_wrapper, .cbh-widget, .cbh-ru, .cbh-show, .cbh-widget-micromenu, .cbg-widget-content,

.sendpulse-prompt, .sendpulse-popover,

.pw-confirm, .pw-widgets, 

.imcallask-btn-mini, .imcallask-btn-mini-phone
 
{
  display: none !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  z-index: -1 !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

