#jivo-chat,
#jivo_chat_widget,
#jivo-iframe-container,
.jivo-state-widget,
#jivo-chat-container,

#lb_button-wrapper, .lb-widget-panel, .lb_wrapper,

#blinger-widget-c, .blinger-ring, .blinger-btn,

#onlineSupportContainer, #supportTrigger, .support-trigger,
#supportNewMessage, #onlineSupportClonePageIframe,

.callibri-module-area, #callibri-module-area, .callibri-micro,
#callibri_micro, #callibri_feedback,

.comagic-banner-container, .comagic-component, #comagic-cmp-0, #comagic-cmp-1,

a[id^=mightyCallC2C],

#phone_callback5s,

.onesignal-bell-container, #onesignal-bell-container,

.cmv-btn, .cmv-btn__btnBody,

.lt-chat,
.lt-frame,
.lt-invite,
.lt-label,
.lt-online,
.lt-xbutton,

#chatra, #chatra__iframe, .chatra--visible,

.b24-widget-button-wrapper, .b24-widget-button-shadow,

.onicon_chat, .onicon_chat-window,
.onicon_chat-hint-wrap, .onicon_chat-hint-label,

.webim_button,
.webim_invitediv,

.stream-wood-chat,
.stream-wood-invitation,

#rh-snippet,

#mibew_tracking,

#leadia_science_widget, #leadia_widget, .leadia-widget,

#intercom-container, .intercom-container,

.callbackkiller,

#pozvonim-button, .pozvonim-button-wrapper, #pozvonim-wrapper,

#callservice-widget-window, #callservice-widget-container,

#ck_phone_widget, .callkeeper_phonewidget, .ck_visible,

#cbh_widget_wrapper, .cbh-widget, .cbh-ru, .cbh-show, .cbh-widget-micromenu, .cbg-widget-content,

.sendpulse-prompt, .sendpulse-popover,

.pw-confirm, .pw-widgets,

#callbut-mini, .callbut-mini-phone, 

#vk_community_messages, #wcm_button, #wcm_chat,

#p4s-confirm-widget, .p4s-ru-block,

.PRVD_chatWindow, .PRVD_chatHeader, .PRVD_chatBody, 

.b-chat, .js-help-chat, 

.imcallask-btn-mini, .imcallask-btn-mini-phone,

.lpt-widget, #lptWidget, .lpt-sidebar, .lpt-sidebar-container

{
  display: none !important;
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  top: -9999px !important;
  margin-top: -9999px !important;
  margin-left: -9999px !important;
  left: -9999px !important;
  z-index: -100 !important;
  opacity: 0 !important;
  visibility: hidden !important;
  zoom: 0 !important;
  transform: scale(0.01) translate(-9999) !important;
  font: 0/0 !important;
  overflow: hidden !important;
}

