#jivo-chat,
#jivo_chat_widget,

.lt-chat,
.lt-frame,
.lt-invite,

.webim_button,
.webim_invitediv,

.stream-wood-chat,
.stream-wood-invitation,

#rh-snippet,

#mibew_tracking,

#leadia_science_widget, #leadia_widget, .leadia-widget


{
  display: none !important;
}

